.title {
  color: rgb(189, 20, 20);
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: rgb(3, 2, 8);
  text-align: center;
}
.btn {
  display: block;
  width: 150px;
  padding: 0px 0px;
  margin: 20px auto;
  background: #bd8a97;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  text-align: center;
}
